<% if(msg !='' ) { %>
  <div class="alert alert-success msg" style="position: absolute; z-index: 9999; color:white; background-color: #195780; right: 10px; top: 10px;">
    <span style="font-size: 16px;">
      <%= msg %>
    </span>
  </div>
  <% } %>
<!-- <section class="section">
  <div class="section-header">
    <h1>Change Password</h1>
  </div>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <form action="/editPassword" method="post" id="ChangePass">
            <div class="card-body">
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Old Password</label>
                <div class="col-sm-12 col-md-7">
                  <input type="password" name="password" class="form-control">
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">New Password</label>
                <div class="col-sm-12 col-md-7">
                  <input type="password" name="newPassword" class="form-control">
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Confirm Password</label>
                <div class="col-sm-12 col-md-7">
                  <input type="password" name="confirmPassword" class="form-control">
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                <div class="col-sm-12 col-md-7">
                  <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="section">
  <div class="section-header">
    <h1>Change Password</h1>
  </div>
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <form action="/editPassword" method="post" id="ChangePass">
            <div class="card-body">
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Old Password</label>
                <div class="col-sm-12 col-md-7">
                  <input type="password" name="password" class="form-control">
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">New Password</label>
                <div class="col-sm-12 col-md-7">
                  <input type="password" name="newPassword" class="form-control">
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Confirm Password</label>
                <div class="col-sm-12 col-md-7">
                  <input type="password" name="confirmPassword" class="form-control">
                  <!-- Error message container -->
                  <div id="passwordMismatchError" style="color: red;"></div>
                </div>
              </div>
              <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                <div class="col-sm-12 col-md-7">
                  <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- 
<script>
  $(document).ready(function() {

    $('form[id="ChangePass"]').validate({
      keypress: function(element) {
        var element_id = $(element).attr('id');
        if (this.settings.rules[element_id].keypress !== false) {
          $(element).valid();
        }
      },
      rules: {
        password: {
          required: true,
          minlength: 6
        },
        newPassword: {
          required: true,
          minlength: 6
          // emailExt: true
        },
        confirmPassword: {
          required: true,
          minlength: 6,
          equalTo: "#newPassword",
        },
      },
      messages: {

        password: {
          required: "Old password is required.",
          minlength: "Please enter atleast 6 characters"
        },
        newPassword: {
          required: "New Password is required",
          minlength: "Please enter atleast 6 characters"
        },
        confirmPassword: {
          required: 'Confirm Password is required',
          minlength: "Please enter atleast 6 characters",
          equalTo: 'New Password and Confirm Password does not match',
        },
      },
      submitHandler: function(form) {
        form.submit();
      }
    });
  });
</script> -->

<script>
  $(document).ready(function() {
    $('form[id="ChangePass"]').submit(function(e) {
      e.preventDefault(); // Prevent the form from submitting initially

      var newPassword = $("input[name='newPassword']").val();
      var confirmPassword = $("input[name='confirmPassword']").val();

      if (newPassword !== confirmPassword) {
        // Passwords don't match, display an error message
        $("#passwordMismatchError").text("New Password and Confirm Password do not match.");
      } else {
        // Passwords match, remove any existing error message and submit the form
        $("#passwordMismatchError").text("");
        $(this).unbind("submit").submit();
      }
    });
  });
</script>