
<% if(msg !='' ) { %>
  <div class="alert alert-success msg" style="position: absolute; z-index: 9999; color:white; background-color: #195780; right: 10px; top: 10px;">
    <span style="font-size: 16px;">
      <%= msg %>
    </span>
  </div>
  <% } %>
<section class="section">
  <div class="section-header">
    <h1>Interest Edit</h1>
  </div>
  <div class="section-body">
    <form action="/EditInterest" method="post" enctype="multipart/form-data" id="editForm">
      <div class="card-body">
          <div class="form-group row mb-4">
            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Name</label>
            <div class="col-sm-12 col-md-7">
              <input type="text" name="name" value="<%= data?.name%>" class="form-control">
            </div>
          </div>
         
            <div class="form-group row mb-4">
              <label for="images" class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Image</label>
              <div class="col-sm-12 col-md-7">
                <input type="file" name="image" class="form-control" id="image">
                <img id="blah" src="/images/<%= data?.image%>"" alt="Preview Image" width="100" height="100" style="margin-top: 10px;" class="rounded-circle"/>
              </div>
            <!-- <input id="image" type="file" name="image" class="form-control" /> -->
            </div>
            <input type="hidden" name="id" value="<%= data?._id%>" />  
          <div class="form-group row mb-4">
            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
            <div class="col-sm-12 col-md-7">
              <button type="/interests" class="btn btn-primary">Update</button>
              <!-- <a href="/interests" class="btn btn-primary">Back</a> -->
            </div>
          </div>
        </div>
      </form>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {

    jQuery.validator.addMethod("noSpace", function(value, element) {
        return value == '' || value.trim().length != 0;
      },

      jQuery.validator.addMethod("emailExt", function(value, element, param) {
        return value.match(/^[a-zA-Z0-9_\.%\+\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$/);
      }, 'Your e-mail is wrong'),

      $('form[id="editForm"]').validate({

        keypress: function(element) {

          var element_id = $(element).attr('id');
          if (this.settings.rules[element_id].keypress !== false) {
            $(element).valid();
          }
        },

        rules: {
          name: {
            required: true,
            noSpace: true,
            maxlength: 30
          },

          image:{
            required:true
          }
        },
        messages: {

          name: {
            required: "This field is required.",
            noSpace: "Space not allowed",
            maxlength: "Name should be 30 charcater"
          },

          image:{
            required: "This filed is required"
          }
        },
        submitHandler: function(form) {
          form.submit();
        }
      }));
  });
</script>
<script>
  profileImage.onchange = (evt) => {
    const [file] = profileImage.files;
    if (file) {
      blah.src = URL.createObjectURL(file);
      console.log(blah);
    }
  };
</script>
  