<footer class="main-footer">
  <div class="footer-left">
    Copyright &copy;<script>document.write(new Date().getFullYear());</script><div class="bullet"></div> Design By <a href="https://www.cqlsys.com/" target="_blank">Cqlsys Technologies Pvt. Ltd</a>
  </div>
    <div class="footer-right">
      2.3.0
    </div>
  </footer>
  <script>
    setTimeout(function(){
      $("div.msg"). fadeOut();
    },2000);
  </script>